<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke">
  <test name="Sprint 1">
    <classes>
      <class name="com.class2.EnableAndDisable"/>
      <class name="com.class1.BeforeAndAfterMethod"/>
    </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
